body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px; }

.base-layout {
  width: 30%;
  max-width: 350px;
  margin: 30px auto; }

.wrapper {
  padding: 15px 0px 0px 15px;
  min-width: 310px; }
  .wrapper .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
    .wrapper .input-container .input-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative; }
      .wrapper .input-container .input-wrapper input {
        width: 100%;
        margin-left: 15px; }
      .wrapper .input-container .input-wrapper input[type='number'] {
        position: absolute;
        left: 0;
        width: 5em; }

.container-title {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .container-title.level-1 {
    padding-left: 15px; }
  .container-title.level-2 {
    padding-left: 30px; }
  .container-title.level-3 {
    padding-left: 45px; }
  .container-title.block-title {
    margin-bottom: 15px; }

.square {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  background-color: #005188; }
  .square.level-0 {
    background-color: #017BB7; }
  .square.level-1 {
    background-color: #00B5F7; }
  .square.level-2 {
    background-color: #5ed4ff; }
  .square.level-3 {
    background-color: #91e2ff; }

.img-container {
  margin-bottom: 15px; }
  .img-container img {
    width: 100%;
    height: 150px;
    object-fit: cover; }

button {
  width: 100%;
  font-weight: 600;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #5ed4ff;
  transition: background-color 0.3s ease; }

button:hover {
  cursor: pointer;
  background-color: #91e2ff; }
