body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

$main-blue: #384485;
$light-blue: #7fcef0;

@import 'wrapper.scss';
@import 'search.scss';
@import 'videos.scss';
@import 'player.scss';

// @import url(//fonts.googleapis.com/css?family=Concert+One);
