.base-layout {
  width: 30%;
  max-width: 400px;
  margin: 0 auto; }

.wrapper {
  padding: 0px 0px 0px 15px; }
  .wrapper .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }

.container-title {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .container-title.level-1 {
    padding-left: 15px; }
  .container-title.level-2 {
    padding-left: 30px; }
  .container-title.level-3 {
    padding-left: 45px; }

.square {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  background-color: #025085; }
  .square.level-0 {
    background-color: red; }
  .square.level-1 {
    background-color: green; }
  .square.level-2 {
    background-color: blue; }
  .square.level-3 {
    background-color: yellow; }
