$white: #FFFFFF;
$main-blue: #005188;
$Level-0: #017BB7;
$Level-1: #00B5F7;

.base-layout {
  width: 30%;
  max-width: 350px;
  margin: 30px auto;
}

.wrapper {
  padding: 15px 0px 0px 15px;
  min-width: 310px;

  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .input-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      input {
        width: 100%;
        margin-left: 15px;
      }
      input[type='number'] {
        position: absolute;
        left: 0;
        width: 5em;
      }
    }
  }
}

.container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.level-1 {
    padding-left: 15px;
  }
  &.level-2 {
    padding-left: 30px;
  }
  &.level-3 {
    padding-left: 45px;
  }
  &.block-title {
    margin-bottom: 15px;
  }
}

.square {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  background-color: $main-blue;
  &.level-0 {
    background-color: $Level-0;
  }
  &.level-1 {
    background-color: $Level-1;
  }
  &.level-2 {
    background-color: lighten($Level-1, 20);
  }
  &.level-3 {
    background-color: lighten($Level-1, 30);
  }
}

.img-container {
  margin-bottom: 15px;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

button {
  width: 100%;
  font-weight: 600;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  color: $white;
  background-color: lighten($Level-1, 20);
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: lighten($Level-1, 30);
}
